.App {
  text-align: center;
  .post-list {
    list-style: none;
    padding: 0;
    .post-item {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
  .movie-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    .movie-item {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }
  .fake-store-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .fake-store-item {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }
}
