@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 리셋 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input:focus {
  outline: none;
}

table {
  border-collapse: collapse;
}

address,
i,
em {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* 공통 클래스 */

.skip-menu a {
  display: block;
  position: absolute;
  top: -9999px;
  line-height: 50px;
  text-align: center;
  background: #0099da;
  &:focus {
    top: 0;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

html,
body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.032rem;
}


