/* variables */

:root {
  --ibk-main-color: #0055a2;
  --ibk-bg-color: #f0f2f6;
  --ibk-text-color: #0d020f;
  --ibk-sub-color: #72808e;
  --border-radius: 4rem;
}

/* body */

body {
  line-height: 3rem;
  color: var(--ibk-text-color);
}

.content-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */

header {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
  .content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    #gnb {
      & > ul {
        display: flex;
        gap: 40px;
        & > li {
          position: relative;
          a {
            display: block;
            font-size: 1.13rem;
            font-weight: 600;
          }
          &:first-child {
            a {
              color: var(--ibk-main-color);
              font-weight: 700;
            }
          }
          .sub-menu {
            display: none;
            position: absolute;
            background: white;
            padding: 20px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 16rem;
          }
        }
      }
    }

    .gnb-list {
      display: flex;
      gap: 10px;
      li {
        a {
          display: block;
          border-radius: var(--border-radius);
          position: relative;
        }
        &:first-child a {
          background: var(--ibk-bg-color);
          padding: 0 20px 0 45px;
          color: var(--ibk-main-color);
          font-weight: 700;
          &::before {
            content: "";
            display: block;
            width: 16px;
            aspect-ratio: 1/1;
            background: url("../images/icon_line_b.svg") 100% -8rem/1100% no-repeat;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            line-height: 40px;
          }
        }
        &:last-child a {
          text-indent: -9999px;
          width: 48px;
          aspect-ratio: 1/1;
          line-height: 40px;
          background: var(--ibk-main-color);
          &::after {
            content: "";
            background: url(../images/icon_line_w.svg) 40% -240px/1100% no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

/* main */
#container {
  .cm-container {
    padding: 70px 0;
    .cm-top-container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 70px;
      .cm-top-left {
        width: calc(100% / 2);
        .cm-slider-container {
          position: relative;
          background: skyblue;
          border-radius: 50px 50px 50px 100px;
          min-height: 500px;
          .cm-slider-list-text {
            li {
              position: absolute;
              padding: 30px;
              height: inherit;
              a {
                & > span {
                  padding: 5px 20px;
                  border-radius: 30px;
                  color: white;
                }
                strong {
                  font-size: 30px;
                }
                .more-btn {
                  font-size: 20px;
                  background: white;
                  color: #0055a2;
                  padding: 10px 30px;
                  position: absolute;
                  bottom: 100px;
                }
              }
            }
          }
          .cm-slider-list-img {
            position: absolute;
            width: 50%;
            top: 0;
            right: 0;
            li {
              img {
                width: 100%;
              }
            }
          }
          .cm-slider-controls {
            position: absolute;
            background: white;
            border-radius: 0 35px 0 0;
            left: 0;
            bottom: 0;
            display: flex;
            width: 60%;
            height: 70px;
            justify-content: space-between;
            align-items: center;
            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 100px;
              height: 72px;
              background: url(../images/deco_banner.svg) center/contain
                no-repeat;
              top: 0;
              right: 0;
              transform: translateX(50%);
            }
            .bar-container {
              width: 120px;
              background: var(--ibk-sub-color);
              height: 4px;
              border-radius: 20px;
              overflow: hidden;
              .progress-bar {
                display: block;
                width: 10px;
                height: inherit;
                background: #0d020f;
              }
            }
            ul {
              display: flex;
            }
          }
        }
      }
      .cm-top-right {
        width: calc(100% / 3);

        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            width: 50%;
            padding: 4px;
            a {
              display: block;
              background: var(--ibk-bg-color);
              border-radius: 40px;
              height: 160px;
              padding: 24px;
              strong {
                display: block;
                font-size: 20px;
                font-weight: 700;
              }
              span {
                font-size: 20px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
    .cm-bottom-container {
      .cm-info-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        li {
          a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            background: var(--ibk-bg-color);
            padding: 34px;
            border-radius: 40px;
            strong {
              font-size: 24px;
              color: var(--ibk-main-color);
            }
            .cm-more-btn {
              width: 60px;
              aspect-ratio: 1/1;
              background: var(--ibk-main-color);
              position: absolute;
              bottom: 0;
              right: 0;
              border-radius: 40px 0 0 0;
              i {
                /* background: url(../images/); */
                display: block;
                width: 60px;
                background: black;
                aspect-ratio: 1/1;
                border-radius: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 10;
                &::after {
                  content: "";
                  display: block;
                  width: 28px;
                  aspect-ratio: 1/1;
                  position: absolute;
                  background: url(../images/icon_line_w.svg) 0 -308px/1100% no-repeat; 
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(45deg);
                }
              }
              &::before,
              &::after {
                content: "";
                display: block;
                width: 80px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background: aqua;
                position: absolute;
              }
              &::after {
                bottom: 75px;
                box-shadow: 40px 40px 0 0 red;
              }
              &::before {
                bottom: 0;
                left: -80px;
                box-shadow: 40px 40px 0 0 blue;
              }
            }
          }
          &:first-child {
            grid-row: span 2;
          }
          &:nth-child(2) {
            grid-row: span 2;
          }
        }
      }
    }
  }
}

/* footer */

#footer {
  .footer-top {
    border-top: 1px solid var(--ibk-bg-color);
    padding: 20px 0;
    .content-inner {
      .footer-check {
        display: flex;
        gap: 20px;
        li {
          a {
            display: block;
            background: var(--ibk-main-color);
            color: white;
            padding: 0 16px;
            font-size: 14px;
            font-weight: 700;
            border-radius: 30px;
          }
        }
      }
    }
  }
  .footer-middle {
    background: var(--ibk-bg-color);
    line-height: 70px;
    .content-inner {
      .footer-menu {
        display: flex;
        gap: 34px;
        li {
          position: relative;
          a {
          }
          &::after {
            content: attr(data-dot);
            position: absolute;
            right: calc(-34px / 2);
          }
          &:last-child::after {
            display: none;
          }
        }
      }
    }
  }
  .footer-bottom {
    .content-inner {
      & > div {
        display: flex;
        justify-content: space-between;
        address {
        }
        .smart-container {
          display: flex;
          gap: 30px;
          .smart-qr {
            width: 100px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
          }
          .smart {
            a {
              display: flex;
              align-items: center;
              font-size: 18px;
              gap: 4px;
              margin-bottom: 6px;
              color: var(--ibk-main-color);
              font-size: 800;
              i {
                display: block;
                width: 20px;
                height: 20px;
                background: url(../images/icon_line_b.svg) 70% -180px/1100% no-repeat;
              }
            }
            small {
              font-size: 12px;
              color: var(--ibk-sub-color);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
}
