* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  background: #ddd;
}

.inner-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  .blind {
    display: none;
  }
  .goods-list-container {
    width: 33.33333%;
    display: flex;
    gap: 10px;
    .goods-list-item {
      width: 50%;
      height: 15rem;
      padding: 30px;
      border-radius: 4rem;
      overflow: hidden;
      &.cmi {
        background: #6331cf;
      }
      &.irp {
        background: #436793;
      }
      a {
        display: block;
        height: 100%;
        color: white;
        font-size: 1.25rem;
        text-transform: uppercase;
        strong {
          display: block;
        }
        i {
          display: block;
          width: 22px;
          height: 22px;
          background: url(./images/icon_line_w.svg) -48px -24px no-repeat;
        }
        &:hover {
          text-decoration: underline 1px dotted rgba(255, 255, 255, 0.4);
          text-underline-offset: 4px;
        }
      }
    }
  }
}
