* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.movie-wrap {
  padding-top: 80px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .genre-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    button {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: white;
      border-radius: 30px;
      padding: 4px 10px;
      &.active {
        background: #0037ff;
        color: white;
        border: 1px solid transparent;
      }
    }
  }
  input {
    line-height: 2;
    padding: 4px 14px;
    border-radius: 20px;
    text-indent: 8px;
    border: 1px solid #ccc;
    &:focus{
      outline: none;
    }
  }
  .movie {
    .movie-list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      li {
        width: calc(20% - 30px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        div:last-child {
          display: flex;
          align-items: center;
          strong {
            flex: 3;
          }
          span {
            flex: 1;
            text-align: right;
          }
        }
      }
    }
  }
}
